<section class="sidebar">
  <div class="container">
    <div class="header">
      <img src="../../../assets/img/img1doctory.png" alt="logo">
      <h1>Health <span>Care</span></h1>
    </div>

    <div class="body">
      <ul>
        <li *ngFor="let link of links">
          <div>
            <mat-icon>{{link.icon}}</mat-icon>
            <a routerLink={{link.url}}>
              {{link.name}}
            </a>
            <mat-icon class="iconDrop">{{link.iconDrop}}</mat-icon>
          </div>
          <ul class="submenu" ng-if="link.submenu.lenght" >
            <li *ngFor="let sublink of link.submenu">
              <a routerLink={{sublink.url}}>
                {{sublink.name}}
              </a>
            </li>
          </ul>

        </li>
      </ul>
    </div>
  </div>

  <div class="footer">
    <button type="button">
      <mat-icon>keyboard_backspace</mat-icon>
      <span>Sair</span>
    </button>
  </div>
</section>
