<div class="cadEspecialidade">
  <app-sidebar></app-sidebar>
    <div class="forms-especialidade">
      <app-header-screen title="Cadastro Especialidade"></app-header-screen>
        <form class="form-content">
          <div class="content-all">
            <div class="content">
              <app-text inputId="inputNameEspecialidade" typeInput="text" nameInput="Nome" placeholder="Digite o nome..."></app-text>
            </div>
            <div class="content">
              <app-text inputId="inputDescricaoEspecialidade" typeInput="text" nameInput="Descrição" placeholder="Descrição da especialidade..."></app-text>
            </div>
            <div class="contentTwo">
              <span>Ativo</span>
              <mat-slide-toggle></mat-slide-toggle>
            </div>
          </div>
          <div class="button">
            <button type="submit">Cadastrar</button>
          </div>
      </form>
    </div>
  </div>
<router-outlet></router-outlet>
